h2{
  font-weight: bold;
  font-size: 40px;
  color: black;
}
.c-heading{
  position: relative;
  display: block;
  text-align: center;
}
.c-paragraph{
  position: relative;
  display: block;
  text-align: center;
}
.c-group{
  position: relative;
  display: block;
  text-align: center;

}
.bloc{
  display: block;
  position: relative;
  left: -70Opx;
  bottom:300px;
}
